<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.api.dao.RefindPasswordMapper">
  <resultMap id="BaseResultMap" type="RefindPassword">
    <constructor>
      <idArg column="RefindId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="VerifyCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RefindTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="Status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    RefindId, Phone, VerifyCode, RefindTime, Status
  </sql>
  
  <!-- 自定义 -->
  <select id="getSendCount" parameterType="java.lang.String" resultType="java.lang.Integer">
	select count(1) as sendCount from RefindPassword where Phone = #{phone}
	and DateDiff(dd,refindtime,getdate())=0
  </select>
  
  <select id="getLateVerifyCode" resultType="java.lang.String">
  	select top 1 VerifyCode from RefindPassword
	where Phone=#{phone} and [Status]=0 and DateDiff(ss,refindtime,getdate())&lt;=#{expire}
	order by RefindTime desc
  </select>
  
  <select id="selectByPhoneAndCode" resultMap="BaseResultMap">
	select top 1 * from RefindPassword
	where Phone=#{phone} and VerifyCode=#{code} and [Status]=0 order by RefindTime desc
  </select>
  <!-- 自定义 -->
</mapper>